<!DOCTYPE html>
<html>
<head>
  <title>FactoryFE</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
        <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <%= yield %>
        <% else %>
            <%= render partial:  'static_pages/signin' %>
        <% end %>
    </div>

</body>
</html>
